.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml___jb_tmp___
*.iml
app/src/main/assets/db/HM_DB.properties
